*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}
input[type='checkbox']{
    display: none; 
}
main{
    display: flex;
    gap: 1rem;

    counter-reset: css-counter 0 ;
    position: relative;
}
main::after{
    content: "Increment Number:" counter(css-counter);
    position: absolute;
    bottom: -3rem;
    font-size: .9rem;

}
.box label{
border: 1px solid black;
padding: 1.5rem;
cursor: pointer;
user-select: none;
}
.box input:checked + label {
    background: yellow;
    border: 3px solid black;
}
.box:has(input:checked+ label[data-value='10']) {
    counter-increment: css-counter 10;
}
.box:has(input:checked+ label[data-value='43']) {
    counter-increment: css-counter 43;
}
.box:has(input:checked+ label[data-value='64']) {
    counter-increment: css-counter 64;
}
.box:has(input:checked+ label[data-value='-15']) {
    counter-increment: css-counter -15;
}